<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="shortcut icon" href="{% block favicon %}/public/img/favicon.ico{% endblock %}" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="min-h-screen flex items-center justify-center p-4">
<header><a href="/"></a><a href="/"></a><a href=""></a></header>
  {% block app %}
  {% endblock %}
</body>


</html>