{% extends 'layout/home-layout.html.twig' %}

{% block app %}
    <main class="flex justify-center h-screen items-center flex-col">
        <h2>Stock tes chanson</h2>
        <p>Bienvenu sur le site de stockage et de recherche de chansons</p>
    </main>
{% endblock %}
